html
  head
    title='Ericsson Folks ... Heckaton-1 Rocks !!'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') 
  body
    div.container
      div.jumbotron
        h1 Hello Participants of Heckaton from Ericsson !!!
        p Click the button below to head over to latest news ...
        p 
          a.btn.btn-primary(href="http://www.rediff.com/") News
        p