html
  head
    title='Ericsson Folks ... Confluence 4.0 Rocks !!'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') 
  body
    div.container
      div.jumbotron
        h1 Hello Participants of Confluence from Ericsson !!!
        p Click the button below to head over to latest news ...
        p 
          a.btn.btn-primary(href="http://www.rediff.com/") News
        p
       <img src="http://www.capitalfm.co.ke/lifestyle/files/2013/03/Ericsson.png" alt="text"/>